# Configurações e Chaves
.env
.env.local

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks (opcional, se não quiser subir checkpoints)
.ipynb_checkpoints/
.vscode/
.idea/

# Arquivos de log e logs do SO
*.log
.DS_Store
Thumbs.db